body 
{
	color: #524552;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	
}
img {
    max-width: 100%;
    height: auto;
    /* transform: rotateY(0deg) rotate(-42deg); */
}
.top-content
{
	background: #0865a8;
	position: fixed;
	top: 0px;
	z-index: 9;
	width: 100%;
}

.p1
{
	background: #03A9F4;
	padding: 8px;
	border-radius:50%;
	color:#fff;
}

.p2
{
	background: #FFC107;
	padding: 8px;
	border-radius:50%;
	color:#fff;
}

.p3
{
	background: #fa5724;
	padding: 8px;
	border-radius:50%;
	color:#fff;
}

.main-banner-content h1
{
    opacity: 1;
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 0 0 black;
    font-weight: 700;
    width: 500px;
    line-height: 60px;
}

.page_topline {
    font-size: 14px;
    position: relative;
    z-index: 1001;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}
.page_social_icons
{
	padding:5px;
}
.page_social_icons a
{
	padding: 5px 10px;
	font-weight: 900;
	color: #fdfef9;
	font-size: 15px;
}
.guidelines
{
	
padding: 7px;
	
float: right;
}
.guidelines a
{
	color: #fdfef9;
	font-weight: 600;
}
ul.incrs-font
{
	display:inline-block;
	margin: 0;
	margin-left: 12px;
}

ul.incrs-font li
{
	display:inline-block;
	padding: 0px 2px;
	background: #0f4286;
	border-radius: 50%;
	width: 24px;
	height: 23px;
	color: #fff;
	text-align: center;
}

ul.incrs-font li a
{
   color: #fff;
   font-size: 12px;
   font-weight: 600;
}

.navbar-inverse
{
	border-radius:0;
	margin-bottom:0;
	background-color: #ffffff;
	border-color: #d6d5d500;
	/* position: fixed; */
	width: 100%;
	z-index: 99;
	background: url("../img/head.jpg");
	border-top: 1px solid #ccc;
	position: fixed;
	top: 37px;
}
.nav-border
{
	
background: linear-gradient(to right, #f77213, #f77213 33.3333%, #ffb732 33.3334%, #ffb732 66.6666%, #19a5aa 66.6667%);
	
padding: 3px;
	
/* margin-top: 69px; */
	
position: fixed;
	
top: 109px;
	
z-index: 9999999;
	
width: 100%;
}
.navbar-brand 
{
    float: left;
    height: 50px;
    padding: 0px 15px;
}
.navbar-brand>img 
{
 	/* background: #fff; */
 	/* padding: 5px 15px; */
 	border-top-right-radius: 15px;
 	border-bottom-left-radius: 15px;
 	/* width: 155px; */
}
.navbar-inverse .navbar-nav>li>a {
    color: #0865a8;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 28px 6px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #f18f38;
    background-color: #08080800;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #0865a8;
    background-color: transparent;
}
.banner
{
	padding-top: 115px;
}

.services-boxes-area {
    margin-top: -50px;
    position: relative;
    z-index: 3;
}
.single-box {
	text-align: center;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	border: 5px solid #fff;
	box-shadow: 0px 2px 5px 0px #ccc;
}
.single-box img {
	border-radius: 5px;
	-webkit-transition: .5s;
	transition: .5s
}
.single-box .content {
	background-color: #141a33e6;
	padding: 35px 21px 30px;
	position: absolute;
	left: 0;
	-webkit-transition: .5s;
	transition: .5s;
	height: auto;
	width: 100%;
	bottom: 0;
	border-radius: 100% 100% 5px 5px;
}
.single-box .content h3 {
	margin-bottom: 0;
	position: relative;
	padding-bottom: 15px;
	-webkit-transition: .5s;
	transition: .5s;
	color: #fff;
	font-size: 24px;
	font-weight: 600
}
.single-box .content h3 a {
	display: inline-block;
	color: #fff
}
.single-box .content h3::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	height: 2px;
	width: 60px;
	-webkit-transition: .5s;
	transition: .5s
}
.single-box .hover-content {
	background-color: #0063bee3;
	padding: 65px 35px 50px;
	position: absolute;
	left: 0;
	height: auto;
	width: 100%;
	bottom: -138px;
	border-radius: 100% 100% 5px 5px;
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}
.single-box .hover-content h3 {
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 15px;
	-webkit-transition: .5s;
	transition: .5s;
	color: #fff;
	font-size: 24px;
	font-weight: 600
}
.single-box .hover-content h3 a {
	display: inline-block;
	color: #fff
}
.single-box .hover-content h3::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	height: 2px;
	width: 60px;
	-webkit-transition: .5s;
	transition: .5s
}
.single-box .hover-content p {
	-webkit-transition: .5s;
	transition: .5s;
	color: #fff;
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 0;
	line-height: 25px;
	/* text-align: justify; */
}
.single-box .hover-content .read-more-btn {
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	position: relative;
	font-size: 16px;
	font-weight: 600
}
.single-box .hover-content .read-more-btn::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #524552
}
.single-box:hover .content {
	opacity: 0;
	visibility: hidden
}
.single-box:hover .hover-content {
	opacity: 1;
	visibility: visible;
	bottom: 0
}
.single-box:hover img {
	-webkit-transform: scale(1.3) rotate(4deg);
	transform: scale(1.3) rotate(4deg)
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    right: 5% !important;
    z-index: 15;
    top: 65% !important;
    width: 2% !important;
    left:unset;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-caption {
    right: unset;
    left: 10%;
    padding-bottom: 30px;
}
.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 15px;
    left: 9%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    top: -2%;
}
.main-banner-content .sub-title {
        text-transform: capitalize;
        display: block;
        color: #f5f5f5;
        /* letter-spacing: 3px; */
        margin-bottom: 19px;
        font-size: 19px;
        opacity: 1 !important;
        text-shadow: 0 0 black;
        font-weight: 500;
}
.about-area
{
	padding:30px;
	background: #f5f4f4;
	/* background: url("../img/inner-pages-bg.png"); */
	border-top: 1px solid #ccc;
}
.about-title h2
{
		font-size: 30px;
		color: #08346b;
		font-weight: 700;
}
.about-title p
{
	font-size: 18px;
	text-align: justify;
	line-height: 34px;
}
.about-title span {
    color: #524552;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}
a.default-btn img
{
    width: 140px !important;
    background: #fff;
    padding: 8px 13px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.features-area1
{
	background: #e3e8ec7d;
	padding: 35px;
	border-top: 2px solid #eaebec;
}
.single-features p
{
    font-size: 18px;
    text-align: justify;
    line-height: 29px;
    font-weight: 400;
    margin-top: 15px;
}
.single-features h4 {
    display: inline-block;
    margin-left: 15px;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    color: #114e84;
}
.single-features
{
	/* margin-top:50px; */
}








.multi-item-carousel .carousel-inner { text-align:center; }
.multi-item-carousel .carousel-inner>.item>a { text-align:center; }
.multi-item-carousel .carousel-inner .item a .img-responsive { margin:auto; display:inline-block; }
.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
.carousel-control { opacity:1; }
.carousel-control:hover { opacity:0.6; }
.carousel-control.left { 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+65,7db9e8+100&1+27,0+100 */background: -moz-linear-gradient(left,  rgba(0,0,0,1) 27%, rgba(0,0,0,0.48) 65%, rgba(125,185,232,0) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 27%,rgba(0,0,0,0.48) 65%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  rgb(0 0 0 / 0%) 27%,rgb(0 0 0 / 0%) 65%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */}
.carousel-control.right { 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+33&0+0,1+100 */background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(0,0,0,0.33) 33%, rgba(0,0,0,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgb(0 0 0 / 0%) 33%,rgb(0 0 0 / 0%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=1 ); /* IE6-9 */}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10+ CSS */
  .multi-item-carousel .carousel-inner .active.left {
    left: 0%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 0%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 0%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: 0%;
  }
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
ul
{
	list-style-type:none;
}
.carousel-control
{
	width:0%;
	
}
.carousel-item
{
	background: #fcfdff;
	height: 300px;
	text-align: center;
	padding: 30px;
	border: 1px solid #ccc;
}

.carousel-item h2
{
	font-size:26px;
}

.carousel-item p
{
	font-size:18px;
	text-align:justify;
}







.footer-area {
    background-color: #080524;
    /* padding-top: 20px; */
}
.new-footer-links a {
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 200;
}
.disclaimer p {
    font-size: 14px !important;
    color: #fff !important;
    text-align: center;
}
.new-footer-links a {
    color: #ffffff;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 200;
}

.new-footer-links {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    width: 100%;
}
.copyright-area {
    /* margin-top: 10px; */
    /* border-top: 1px solid #fffdff; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}
.copyright-area p {
    color: #ebe7e7;
    font-size: 15px;
}
.aptonline {
    background: #fff;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 10px;
    width: 120px;
}


.slider
{
	padding:30px;
}
.services
{
	background:url("../img/bg1.jpg")
}

.card {
  position: relative;
  min-width: 320px;
  height: 440px;
  /* box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),inset -5px -5px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.3),-5px -5px 15px rgba(255,255,255,0.1); */
  border-radius: 15px;
  margin: 30px;
  transition: .5s;
}

.card:nth-child(1) .box .content a {
  background: #2196f3;
}

.card:nth-child(2) .box .content a {
  background: #e91e63;
}

.card:nth-child(3) .box .content a {
  background: #23c186;
}

.card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  /* background: #2a2b2f; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .5s;
  border: 1px solid #ccc;
}

.card .box:hover {
  transform: translateY(-50px);
}

.card .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.03);
}

.card .box .content {
  padding: 20px;
  text-align: center;
}

.card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255,255,255,0.05);
}

.card .box .content h3 {
  font-size: 25px;
  color: rgb(82 69 82);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.card .box .content p {
  font-size: 17px;
  font-weight: 300;
  color: rgb(82 69 82);
  z-index: 1;
  transition: 0.5s;
}

.card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
/*# sourceMappingURL=style.css.map */

.title h1
{
	text-align:center;
	font-size: 36px;
	font-weight: 800;
	padding: 25px;
	width: 850px;
	margin: 0 auto;
	text-transform: capitalize;
	line-height: 49px;
}
.content img
{
	width:95px;
}


.services
{
	text-align:center;
	padding: 45px;
}
.ser-1
{
	background: #df4d5f;
	width: 120px;
	/* height: 116px; */
	margin: 0 auto;
	padding: 22px;
	transform: rotateY(0deg) rotate(45deg);
}

.ser-2
{
	background: #14a4af;
    width: 120px;
    /* height: 116px; */
    margin: 0 auto;
    padding: 10px;
    transform: rotateY(
0deg
) rotate(
45deg
);
}

.ser-3
{
	background: #fda736;
    width: 120px;
    /* height: 116px; */
    margin: 0 auto;
    padding: 10px;
    transform: rotateY(
0deg
) rotate(
45deg
);
}

.ser-4
{
	background: #22afc0;
	width: 120px;
	/* height: 116px; */
	margin: 0 auto;
	padding: 10px;
	transform: rotateY(
0deg
) rotate(
45deg
);
}
.title
{
	text-align:center;
	margin-bottom:40px;
}
.title h2
{
	font-size: 30px;
    font-weight: 800;
    margin: 0;
	position:relative;
}

.title p
{
	font-size: 20px;
	margin-top:10px;

}

.services p
{
	font-size:16px;
}
.readmore
{
	padding:10px 20px;
	border: 2px solid #1976d2;
	color: #0d47a1;
	margin-top: 51px;
}
.services-inner
{
	background: #f9f9f9;
	padding: 30px 20px;
	border-top: 5px solid #124b98;
	-webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
	box-shadow: 0 0 40px rgb(216 216 216 / 80%);
	/* border: 5px solid; */
}
.services-img img
{
	transform: rotateY(
0deg
) rotate(
-42deg
);
}
.services-inner h4
{
	margin-top:45px;
	color: #124b98;
	font-size: 20px;
	font-weight: 600;
}
.vision-img {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}
.vision-img img {
    height: 259px;
    width: 100%;
    object-fit: cover;
    border: 5px solid #0865a8;
}
.vision-img h4 {
    background: #f1f1f1;
    color: #114e84;
    /* position: relative; */
    /* top: -67px; */
    padding: 25px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    display: none;
}
.others-links-box {
    border-top: 6px solid #0865a8;
    border: 1px solid #e2e2e2;
    padding: 5px;
}
.others-links-box img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    position:relative;
}
.others-links-box h4 {
    font-size: 20px;
    margin-top: 11px;
    color: #0865a8;
    text-transform: capitalize;
    /* line-height: 1.5em; */
    /* height: 33px; */
    /* overflow: hidden; */
}
.others-links-box p {
    font-size: 14px;
    line-height: 21px;
    color: #686868;
    line-height: 1.5em;
    height: 65px;
    overflow: hidden;
    font-weight: 600;
}
.other-links
{
	padding:35px;
}
.others-icon
{position: absolute;top: 6px;background: #0865a8d1;padding: 15px;font-size: 30px;color: #fff;}


.pol-list
{
	background: #f1ba39;
	padding: 8px 13px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-top: 20px;
	font-size: 20px;
	text-shadow: 0 0 BLACK;
	color: #06041c;
	font-weight: 500;
}


/* collapse accordion */
.panel-heading .panel-title {
	font-size: inherit;
	letter-spacing: 0;
	padding: 0;
	position: relative;
}

.panel-heading .panel-title > a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.2em;
	line-height: 1.3;
	display: block;
	padding: 21px 50px 21px 25px;
	background-color: #ffb732;
	border: 1px solid #ffb732;
	color: #ffffff;
	border-radius: 0;
	word-wrap: break-word;
}

.panel-heading .panel-title > a.collapsed:hover,
.panel-heading .panel-title > a:hover {
	background-color: #ffb732;
	border-color: #ffb732;
	color: #ffffff;
}

.panel-heading .panel-title > a.collapsed {
	color: #808080;
	border-color: rgba(0, 0, 0, 0.1);
	background-color: transparent;
}

.panel-heading .panel-title > a.collapsed i {
	color: #f77213;
}

.panel-heading .panel-title > a:after {
	content: '-';
	position: absolute;
	text-align: center;
	right: 0;
	top: 0;
	width: 50px;
	height: 60px;
	line-height: 60px;
}

.panel-heading .panel-title > a.collapsed:after {
	content: '+';
}

.panel-heading .panel-title > a > i {
	position: relative;
	font-size: 1.1em;
	width: 2em;
	text-align: center;
	display: inline-block;
	line-height: 0;
}

@media (min-width: 1200px) {
	.panel-heading .panel-title > a {
		letter-spacing: 0;
		padding: 21px 60px 21px 25px;
		font-size: 15px;
	}

	.panel-heading .panel-title > a:after {
		width: 60px;
	}
}

.panel {
	box-shadow: none;
}

.panel-group .panel {
	border-radius: 5px;
	background-color: transparent;
}

.panel-default > .panel-heading {
	background-color: transparent;
	color: inherit;
	position: relative;
	border: none;
	border-radius: 0;
	padding: 0;
}

.panel-default {
	border: none;
}

.panel-group .panel + .panel {
	margin-top: 15px;
}

.panel-body {
	border-top: none !important;
}

.panel-body .media-left {
	padding-right: 28px;
}

.panel-body .media-left .img-circle {
	max-width: 50px;
}

.panel-body .media-left img {
	max-width: 80px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	font-size: 14px;
	line-height: 24px;
	padding: 20px;
	border-radius: 0px;
}

@media (min-width: 400px) {
	.panel-group .panel-heading + .panel-collapse .panel-body {
		padding: 35px 38px;
	}
}

.collapse-unstyled .panel h4 {
	margin: 0 0 0.5em;
}

.collapse-unstyled .panel h4 a:after {
	color: #ffb732;
	padding: 0 5px;
	display: inline-block;
	font-family: 'FontAwesome';
	content: "\f107";
}

.collapse-unstyled .panel h4 a.collapsed:after {
	content: "\f105";
}

.collapse-unstyled .panel-content {
	padding: 10px 20px;
}
#faq
{
	background: url(../img/inner-pages-bg.png);
	padding:50px 5px;
}


.block-head-News {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: 1px #e2e2e2 solid;
    font-weight: normal;
    text-transform: none;
    font-size: 22px;
    transition: all linear 300ms;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 15px;
    color: #06447d;
    font-weight: 700;
}
.line-border {
    border-top: 1px solid #0063be;
    width: 91px;
    position: relative;
    top: -21px;
}
.line-border:before {
    content: '';
    border-top: 5px solid #06447d;
    position: absolute;
    top: -3px;
    left: 21px;
    width: 40px;
    /* height: 6px; */
    /* z-index: 9; */
}


.dropdown-menu>li>a {
    display: block;
    padding: 10px 10px;
    clear: both;
    font-weight: 500;
    line-height: 1.42857143;
    border-bottom: 1px dotted #ccc;
    color: #0865a8;
    white-space: nowrap;
    font-size: 16px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
}



.navbar-default {
    color: #fff;
    background-color: #ccc6c6;
    border-color: #aca1a2;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand {
    color:#fff;
}
.menu-large {
    position: static !important;
}
.megamenu  ul li
{
	padding: 8px;
	border-bottom: 1px dashed #ccc;
}
.megamenu  ul li a
{
	font-size:16px;
	font-weight:500;
}
ul
{
	padding:0;
}


.login
{
	/*background: #072c5d;*/
    padding: 20px;
}
.f-l
{
	float:left;
}

.title-1 {
    background: linear-gradient(to right, rgb(0 0 0 / 85%), rgb(0 0 0 / 80%), rgb(0 0 0 / 70%), rgba(34,86,172, 0.75), rgba(38,85,163, 0.75)), url(../img/bg-5.jpg) no-repeat 50% 50%;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    /* border-bottom: 1px solid #e2e4e7; */
    /* margin-bottom: 30px; */
    padding: 20px;
    /* background-attachment: fixed; */
    min-height: 90px;
	margin-top:90px;
}
.title-1  h1 , span
{
	color:#fff;
	
}
input[type="text"]
{
	width:100%;
	padding: 8px;
	border: 1px solid #ccc;
}
label
{
	font-weight:500 !important ;
}
.feedback-form
{
	padding:50px 0px 0px;
	min-height: 500px;
}
.submit
{
	background: #080524;
	padding: 14px 20px;
	color: #fff !important;
	font-size: 20px;
}
.center
{
	text-align:center;
}
.form-control
{
	height:40px;
}

.login-form {
    background: #f1f0f0;
    padding: 35px;
    -webkit-box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%), 0 40px 77px 0 rgb(0 0 0 / 22%) !important;
    box-shadow: 0 13px 24px 0 rgb(0 0 0 / 0%), 0 3px 13px 0 rgb(0 0 0 / 22%) !important;
}
.login-button {
    background: -webkit-linear-gradient(
-49deg
, #a71308 0%, rgb(73 26 8) 100%) rgb(80 34 15);
    padding: 6px 122px 10px;
    font-size: 22px;
    color: #fff;
    border-radius: 7px;
    border: 2px solid #fff;
    font-weight: 600;
    background: #0865bd;
    margin-top: 27px;
}
.f-r {
    float: right;
}
/* new css */

.side-box2 {
    min-height: 294px;
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 18px 15px;
    background: url(../img/shape2.jpg);
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
		overflow: hidden;
}

.side-box2 {
    min-height: 355px;
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 18px 15px;
    background: url(../img/shape2.jpg);
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
		overflow: hidden;
}
.side-box5 {
    min-height: auto;
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 18px 15px;
    background: url(../img/shape2.jpg);
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
		overflow: hidden;
}
ul.services-list {
    margin-top: 11px;
	padding: 0px;
}

ul.services-list li {
    float: left;
    width: 100%;
    background: #fefefe;
    cursor: pointer;
    margin-bottom: 17px;
    z-index: 9999;
    color: #000;
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
}
ul.services-list li:before {
    content: '\f02c ';
    font-family: FontAwesome;
    font-size: 13px;
    float: left;
    padding: 8px;
    background: #0865a8;
    color: #fff;
    margin-right: 12px;
    margin-top: 0px;
}
ul.services-list li a {
    color: #000;
/*    text-transform: capitalize;*/
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Roboto-Medium;
/*    text-transform: uppercase;*/
}

.how2 {
    height: 35px;
    border: 1px solid #e6e6e6;
    padding: 0 18px;
    position: relative;
}

.how2-cl4::before {
    background-color: #333;
}
.how2::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
}
.f1-m-2 {
    font-family: Roboto-Medium;
    font-size: 18px;
    /* line-height: 10px; */
    margin: 7px 0px;
}
.cl3 {
    color: #fff;
}