@font-face {
	font-family: 'DSDIGI';
	src: url('../fonts/DSDIGI.eot');
	src: local('DSDIGI'), url('../fonts/DSDIGI.woff') format('woff'), url('../fonts/DSDIGI.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1091">Text with this font applied</p> */
.fontsforweb_fontid_1091 {
	font-family: 'DSDIGI' !important;
}


.digital{
	font-family: 'DSDIGI' !important;
	margin-top: 0px;
	letter-spacing:  2px;
	font-weight: 600;
	font-size: 30px;
    vertical-align: middle;
    color: #E84600;
}

.gvdigital{
	font-family: 'DSDIGI' !important;
	margin-top: 0px;
	letter-spacing:  2px;
	font-weight: 600;
	font-size: 22px;
	vertical-align: middle;
}
/* Font downloaded from FontsForWeb.com */