@charset "utf-8";
/* CSS Document */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #007aff !important;
}
body{
	background-image:url(../images/bg1.jpg);
	background-repeat: no-repeat;
}

p.center-circle {
    margin-top: -55px;
    margin-bottom: 25px;
    background-color: white;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    color: #007bff;
    box-shadow: 0 0 10px #7d7d7d;
}

.box-dow {
    width: 111.1%;
    height: 160px;
    left: -5.5%;
    top: 17px;
    position: absolute;
    padding: 40px;
    background-color: #007bff;
    box-shadow: 1px 0px 11px #7fb4ec;
}
.box-dow i.fa {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    line-height: 30px;
    margin-top: 15px;
    color: #007bff;
}
.form-box {
    width: 70%;
    margin: auto;
    background: #fff;
    padding: 15px 40px;
    box-shadow: 1px 0px 11px #7fb4ec;
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
}
.form-box  i.fa.fa-circle-o {
    font-size: 20px;
    margin-right: 10px;
    color: #6816dc;
    font-weight: bold;
}
.form-box .form-group.form-inline {
    width: 85%;
    margin: auto;
    margin-top: 24px;
}
.form-box h2{
font-size: 26px;
    color: #a9a6a6;	
}  

.form-box input.form-control {
      border: 0;
    border-radius: 20px;
    background: #f9f7f7;
    padding-left: 25px;
    width: 90%;
    float: right;
	border: 1px solid #ccc;
}

.col-form-label i.fa
{
	    font-size: 20px;
    vertical-align: -webkit-baseline-middle;
    color: #007aff;
}
.captcha
{
	letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 15px;
    width: 85%;
    margin-left: 30px;
    margin-bottom: 0px;
   
}